[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/andrii-sukhariev
[access "refs/for/refs/*"]
	read = group user/andrii-sukhariev
	push = group user/andrii-sukhariev
	label-Code-Review = -2..+2 group user/andrii-sukhariev
	label-Verified = -1..+1 group user/andrii-sukhariev
	rebase = group user/andrii-sukhariev
	removeReviewer = group user/andrii-sukhariev
	submit = group user/andrii-sukhariev
[access "refs/heads/*"]
	read = group user/andrii-sukhariev
	create = group user/andrii-sukhariev
	push = +force group user/andrii-sukhariev
	pushMerge = group user/andrii-sukhariev
[access "refs/tags/*"]
	push = +force group user/andrii-sukhariev
	pushTag = group user/andrii-sukhariev
	pushSignedTag = group user/andrii-sukhariev
